body{
    margin: 0;
}
.olma {
    background-color: blue;
    width: 70%;
    margin: o auto;
    width: 200px;
}
.css{
    background-color: rgb(71, 187, 4);
 /*
padding-top: 20px;
padding-right: 25px;
padding-bottom: 30px;
padding-left: 35px;
    */
    padding: 20px 30px;
    margin-top: 10px;
    border: 3px solid rgb(2, 0, 8);

}
.css h1 {
text-align: center;
text-decoration: underline;
font-family: sans-serif;
color: rgb(255, 23, 23);
}
.css p{
    color: rgba(241, 5, 5, 0.959);

}
.zzz{
 border: 4px dashed rgb(2, 0, 8);
 margin: 30px;  
 padding: 20px; 
}

.zzz{
    color: rgb(230, 15, 15);

}

button {
    background-color: rgb(236, 7, 46);
    color: rgb(12, 1, 1);
    font: size 20px;
    border: 2px solid rgb(236, 7, 46);
    padding: 5px 10px; 
    border-top-left-radius: 5px;
    
}
button:hover{
cursor: pointer;
background-color: rgb(163, 12, 105);
color: blue;
}

.aaa{
    text-align: center;
    color: blue;
}